// Google Fonts  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

// Scss Importlar
@import "./variables";
@import "./global";
@import "./header";
@import "./main";
@import "./educationinfo";
@import "./aboutus";
@import "./topEducations";
@import "./contactUs";
@import "./footer";
// Ortak Css
body {
    background-color: $bg-color;
    color: $text-color;
    font-family: "Open Sans", sans-serif;
}

section {
    padding: 70px 17% 60px;
}

.btn {
    display: inline-block;
    padding: 13px 40px;
    background-color: $main-color;
    color: $bg-color;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    @extend .transition;
    &:hover {
        border: 2px solid $text-color;
        background-color: transparent;
        color: $text-color;
        transform: translateX(10px);
    }
}